body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://i.redd.it/m6up7z4yphh31.jpg');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    width: 900px;
}

@media (max-width: 670) {
  .container {
    margin: 0 auto;
    width: 200px;
  }
}

.button {
    display: flex;
    justify-content: center;
}

#result {
    margin-top: 140px !important;
}

.titre {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    background-color: none;
}

.titre h1 {
    font-size: 50px;
    color: #fff;
}
.series p {
  color: red;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.titre h2 {
    font-size: 40px;
    color: #fff;
}

.vTeam {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.vTeam h2 {
    color: #fff;
    font-size: 30px;
}

.mark {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.mark h4 {
    color: #00ff7f;
    font-size: 20px;
}

.score {
    font-weight: bold;
    color: red;
    font-size: 60px;
}

.container a {
    position: relative;
    width: 300px;
    height: 75px;
    margin: 10px 0;
    font-size: 40px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}

.container a:hover {
    color: #fff
}

.container a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(./images/btn-bg1.png);
    background-size: cover;
    transform-origin: left;
    transition: 0.5s;
}

.container a:nth-child(2):before {
    background: url(./images/btn-bg2.png);
    background-size: cover;
}

.container a:hover:before {
    width: 100%;
}

.container a span {
    position: relative;
    z-index: 1;
}
